@import url('./_style.css');

main {
  font-family: 'Inter', sans-serif;
}

main > nav {
  margin: 1rem;
}

#toy-container {
  counter-reset: toyCounter;
}

#toy-container > * {
  margin: 0 1rem;
}

#toy-container > .toy {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #8f8f9d99;
}

#toy-container > .toy-title {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  counter-increment: toyCounter;
}

#toy-container > .toy-title::before {
  content: counter(toyCounter) '. ';
}

#settings-container {
  margin: 1rem 1rem 0 1rem;
}

/* solar-noon */
.solar-noon-visual {
  width: 100%;
  height: 2rem;
  background-color: #000a;
  display: grid;
  margin: 0;
  padding: 0;
}

.solar-noon-visual > div {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

.solar-noon-visual > div:first-child {
  background: linear-gradient(90deg, black, #b5d6e088);
}
.solar-noon-visual > div:nth-child(2) {
  background: linear-gradient(90deg, #b5d6e0, #c7e1e5, #ffef7a, #f7c16a, #f46a55);
}
.solar-noon-visual > div:last-child {
  background: linear-gradient(90deg, #f46a5588, black);
}

.solar-noon-visual > div > div {
  width: 0;
  height: 100%;
  border-left: 1px double gray;
}

/* color-avatar */
.color-avatar {
  display: flex;
  flex-direction: column;
}

.color-avatar > input {
  width: 100%;
}

.avatar-container {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.color-avatar .avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  background: #f46a55;
}

/* color-namer */
.color-namer {
  display: flex;
  flex-direction: column;
}

.color-namer > span {
  background-color: #fffc;
  text-align: center;
}

.color-namer > input {
  margin: 0;
  z-index: 1;
}

.color-namer > input:focus {
  outline: none;
}

.color-namer pre {
  background-color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

/* catfood-cost-calc */
.catfood-cost-calc {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.catfood-cost-calc button {
  text-align: left;
  width: min-content;
  font-weight: 600;
  margin: 0.5rem 0;
}

.catfood-cost-calc input:read-only {
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
}
