@import url('./_style.css');

main {
  font-family: 'Cabin', sans-serif;
}

main > nav {
  margin: 1rem;
}

#toy-container > * {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* solar-noon */
.solar-noon-visual {
  width: 100%;
  height: 2rem;
  background-color: #000a;
  display: grid;
  margin: 0;
  padding: 0;
}

.solar-noon-visual > div {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

.solar-noon-visual > div:first-child {
  background: linear-gradient(90deg, black, #b5d6e088);
}
.solar-noon-visual > div:nth-child(2) {
  background: linear-gradient(90deg, #b5d6e0, #c7e1e5, #ffef7a, #f7c16a, #f46a55);
}
.solar-noon-visual > div:last-child {
  background: linear-gradient(90deg, #f46a5588, black);
}

.solar-noon-visual > div > div {
  width: 0;
  height: 100%;
  border-left: 1px double gray;
}

/* color-avatar */
.color-avatar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.color-avatar > input {
  width: 100%;
}

.color-avatar .avatar {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

/* color-namer */
.color-namer {
  display: flex;
  flex-direction: column;
}

.color-namer > span {
  margin-top: 1rem;
}
